@use '../../global-styles/' as mq;

.cart__wrapper {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4747475d;
}

.cart {
    margin-inline: auto;
    position: sticky;
    top: 9rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    margin-bottom: 2rem;
    width: 80%;
    background: var(--header-footer-background);
    text-align: center;

    @include mq.breakpoint(l) {
        width: 100%;
    }

    &__title {
        font-size: 2.2rem;
        text-transform: capitalize;

        @include mq.breakpoint(m) {
            font-size: 1.7rem;
        }
    }

    &__icon__wrapper {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.3rem;
    }

    &__icon {
        font-size: 1.3rem;
        cursor: pointer;

        @include mq.breakpoint(l) {
            margin: 0.7rem 2.5rem 0 0;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem 0;
        min-height: 8rem;
        justify-items: center;

        @include mq.breakpoint(m) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq.breakpoint(sm) {
            grid-template-columns: repeat(1, 1fr);
        }

    }
}

.empty__cart {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}