@use '../../global-styles/' as mq;

.card {
    position: relative;
    width: 14rem;
    padding: 0.1rem;
    border: 1px solid var(--dark-green-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .2s;

    @include mq.breakpoint(m) {
        width: 10rem;
        align-content: center;
    }

    @include mq.breakpoint(s) {
        width: 7rem;
        align-content: center;
    }

    &:hover {
        transform: scale(1.02);
        background: var(--orange-color);
    }

    &__image__wrapper {
        width: 13.7rem;
        height: 15rem;

        @include mq.breakpoint(m) {
            width: 100%;
            height: 9rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid var(--dark-green-color);

            // @include mq.breakpoint(m) {
            //     height: 8rem;
            // }
        }
    }

    &__content__wrapper {
        padding: 0.3rem;
        text-align: center;
    }

    &__content__title,
    &__content__info,
    &__content__price,
    &__content__stars {
        color: var(--dark-green-color);
    }

    &__content__title {
        @include mq.breakpoint(s) {
            font-size: 1rem;
        }
    }

    &__content__info {
        white-space: pre-wrap;
        width: 13rem;
        overflow: hidden;
        text-overflow: "ellipsis";
        width: 100%;

        @include mq.breakpoint(s) {
            font-size: 0.8rem;
        }
    }

    &__content__stars {
        margin: 0;

        @include mq.breakpoint(m) {
            color: var(--orange-color);
            margin-bottom: 2rem;
        }

        @include mq.breakpoint(s) {
            font-size: 0.8rem;
        }
    }

    &__content__price {
        margin-inline: auto;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: end;

        @include mq.breakpoint(m) {
            width: 100%;
            flex-direction: column;
            align-items: center;

            @include mq.breakpoint(s) {
                font-size: 0.8rem;
            }
        }

        &__old {
            color: red;
            font-size: 0.9rem;
            text-decoration: line-through;

            @include mq.breakpoint(s) {
                font-size: 0.8rem;
            }
        }

        &__new {
            font-size: 1rem;
            font-weight: 700;
            text-decoration: underline;

            @include mq.breakpoint(s) {
                font-size: 0.85rem;
            }
        }
    }

    &__buttons__wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        @include mq.breakpoint(m) {
            position: absolute;
            bottom: -0.6rem;
        }

        & button {
            padding: 0.3rem 0.6rem;
            background: var(--background-color);
            color: var(--dark-green-color);
            border: 1px solid var(--dark-green-color);
            border-radius: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-inline: auto;

            @include mq.breakpoint(m) {
                font-size: 0.7rem;
            }

            @include mq.breakpoint(s) {
                font-size: 0.6rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        & .add:hover {
            background: var(--dark-green-color);
            color: var(--orange-color);
        }
    }
}