@use '../../global-styles/' as s;

.main__wrapper {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    width: min(90%, 75rem);
    margin: 2.9rem auto;
    background: var( --white-background);
    box-shadow: s.$box-shadow;
    padding: 0.8rem;
    padding: 1rem;

    &__content {
        position: relative;
        display: flex;
        align-items: start;
    }

}