@use '../../global-styles/' as s;

.main__wrapper {
    position: relative;
    min-height: 100vh;
    background: var(--white-background);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: s.$box-shadow;
    padding: 0.8rem;
    padding: 1rem;
}

.main {
    margin-inline: auto;
    width: 100%;

    &__products {
        width: min(90%, 76rem);
        margin-inline: auto;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: start;
    }
}