html {
    box-sizing: border-box;
    font-size: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

ul {
    list-style: none;
    padding: 0;
}