:root {
    --background-color: #fefbe9;
    --dark-green-color: #183a1d;
    --black-text: #131111;
    --orange-color: #f6c453;
    --peach-color: #f0a04b;
    --header-footer-background: #e1eedd;
}