@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$title-font: 'Oswald', sans-serif;
$text-font: 'Lato', sans-serif;

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-font;
    margin-top: 0;
    line-height: 1.1;
    font-weight: 700;
    color: var(--dark-green-color) ;

}



p {
    font-family: $text-font;
    margin-top: 0;
    color: var(--dark-green-color) ;
}

a,
a:active,
a:visited {
    text-decoration: none;
    font-family: $text-font;
    font-weight: 600;
    color: var(--dark-green-color) ;
}