.filter {
    position: sticky;
    top: 7.4rem;
    border-right: 1px solid lightgrey;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: start;


        &__title {
            font-weight: 600;
            text-decoration: underline;
            margin: 1rem 0 0.5rem 0;
        }

        &__option {
            display: flex;
            align-items: center;

            & label:hover,
            & input:hover {
                cursor: pointer;
            }
        }


    }

    .black {
        accent-color: #000;
    }

    .white {
        accent-color: #f0f0f0;
    }

    .red {
        accent-color: #c50000;
    }

    .blue {
        accent-color: #0202c2;
    }

    .green {
        accent-color: #069b06;
    }

    .other {
        background: #9e9898;
        accent-color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    }
}