@use '../../global-styles/' as style;

.header-wrapper {
    width: 100%;
    background: var(--header-footer-background);
    box-shadow: style.$box-shadow;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header {
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(90%, 75rem);
    padding: 1rem 2rem;

    &__navigation {
        &__list {
            display: flex;

            &__item__cart {
                position: relative;
                z-index: 2;

                & .header__cart__count {
                    position: absolute; 
                    z-index: 1;  
                    top: -0.9rem;
                    right: -0.8rem;
                    
                    width: 1.2rem;
                    height: 1.2rem;
                    text-align: center;               
                    background: red;
                    font-size: 0.7rem;
                    padding: 0.3rem;
                    border-radius: 50%;
                    font-weight: 900;
                }
            }

            &__item a {
                text-transform: capitalize;
                padding: 0.5rem 1.5rem;
                border-radius: 1rem;

                &:hover {
                    background: var(--dark-green-color);
                    color: var(--orange-color);
                }

            }
        }
    }
}