@use '../../global-styles/' as style;

.header-wrapper {
    width: 100%;
    background: var(--header-footer-background);
    box-shadow: style.$box-shadow;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header {
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(90%, 75rem);
    padding: 1rem 2rem;

    &__navigation {
        &__list {
            display: flex;

            &__item a {
                text-transform: capitalize;
                padding: 0.5rem 1.5rem;
                border-radius: 1rem;

                &:hover {
                    background: var(--dark-green-color);
                    color: var(--orange-color);
                }
            }
        }
    }
}